.text {
    border: none;
    background-color: #f8edeb;
    color : #f8ad9d;
    padding: 0.5em 0.5em;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
}

.btn {
    border: none;
    width: 3em;
    background-color: #f8ad9d;
    color : #f8edeb;
    padding: 0.5em 0.5em;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    margin : 0.5em
}

.btn:hover{
    background-color: #f08080;
    color : #f8edeb;
}