.TextB{
    border: none;
    background-color: inherit;
    padding: 0.5em 0.5em;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    margin : 0.5em
}

.TextB:hover {
    background-color: rgb(109, 3, 136);
    color : white;
}
