.itemWrapper {
  width: 100%;
  height: 50px;
  font-size: 1em;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid grey;
}

.more {
  min-width: 25px;
  height: 20px;
  padding: 4px 4px;
  color: black;
  cursor: pointer;
  border: none;
  background-color: inherit;
  text-decoration: underline;
}

.hide {
  display: none;
}

.itemWrapper:hover{
  height: 75px;
}